$primary-font: 'Montserrat', sans-serif;

$color-white: #ffffff;

$color-1: #fa9442;
$color-2: #2a5792;
$color-3: #c4e2eb;
$color-4: #f6f9fb;
$color-5: #efefef;
$color-6: #e3eaef;
$color-7: #cccccc;
$color-8: #ebfaf9;
$color-9: #8cc4f4;
$color-10: #dce3e7;
$color-11: #cfd8df;

$color-text-white: #ffffff;
$color-text-black: #000000;

$color-text-1: #ffbb85;
$color-text-2: #13436f;
$color-text-3: #15416d;
$color-text-4: #252873;
$color-text-5: #94c6f0;
$color-text-6: #555555;
$color-text-7: #333333;
$color-text-8: #999999;
$color-text-9: #ffd564;
$color-text-10: #fac442;